* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Rubik', sans-serif;
}
.container {
    width: 1100px;
    margin: 0 auto;
    box-sizing: border-box;
}
button {
    display: none;
}
header {
    padding-top: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.site_nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.site_link {
    text-decoration: none;
    color: #242A45;
    font-size: 13px;
    margin-right: 46px;
    line-height: 17px;
}
.site_link:hover {
    color: #FA5959;
}
.link_button {
    width: 111px;
    height: 40px;
    background: #FA5959;
    border: 2px solid #FA5959;
    border-radius: 5px;
    text-align: center;
    vertical-align: middle;
    padding-top: 10px;
    color: #FFFFFF;
}
.link_button:hover {
    background: #FFFFFF;
    border: 2px solid #FA5959;
    box-shadow: 0px 8px 8px -4px rgba(73, 93, 207, 0.20012);
}
.basic_page {
    position: relative;
}
.basic_page_img1 {
    position: absolute;
    z-index: -1;
    left: 723px;
    top: 248px;
}

.hero_basic {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-direction: row-reverse;
    padding-top: 200px;
}
.basic_title {
    margin-top: 40px;
    margin-left: 20px;
}
.basic_page_img2 {
    margin-left: 40px;
}
.basic_page_title {
    width: 540px;
    font-size: 48px;
    line-height: 52px;
    color: #242A45;
}
.basic_page_subtitle {
    width: 540px;
    font-size: 18px;
    line-height: 28px;
    color: #242A45;
    mix-blend-mode: normal;
    opacity: 0.5;
}
.basic_page_link {
    margin-top: 32px;
}
.basic_page_link_google {
    text-decoration: none;
    background: #5267DF;
    box-shadow: 0px 8px 8px -4px rgba(73, 93, 207, 0.20012);
    border-radius: 5px;
    font-weight: 500;
    font-size: 14px;
    line-height: 28px;
    letter-spacing: 0.25px;
    padding: 15px 24px;
    color: #FFFFFF;
}
.basic_page_link_firefox {
    text-decoration: none;
    background: #F7F7F7;;
    box-shadow: 0px 8px 8px -4px rgba(73, 93, 207, 0.20012);
    border-radius: 5px;
    font-weight: 500;
    font-size: 14px;
    line-height: 28px;
    letter-spacing: 0.25px;
    padding: 15px 24px;
    color:  #242A45;
    opacity: 0.75;
    margin-left: 16px;
}
.basic_page_link_google:hover {
    background: #FFFFFF;
    border: 2px solid #5267DF;
    color: #5267DF;
}
.basic_page_link_firefox:hover {
    color: #242A45;
    opacity: 0.75;
    background: #FFFFFF;
    border: 2px solid #5B6074;
}
.features {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.features_pages {
    text-align: center;
}
.features_title {
    font-size: 32px;
    line-height: 52px;
}
.features_subtitle {
    font-size: 18px;
    line-height: 28px;
}
.line {
    text-align: center;
    width: 730px;
    height: 1px;
    color: rgba(73, 93, 207, 0.20012);
    background: rgba(73, 93, 207, 0.20012);
    margin-bottom: 50px;
}
.slider {
    margin-top: 60px;
    width: 730px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.slider_link {
    text-decoration: none;
    font-size: 16px;
    line-height: 17px;
    letter-spacing: 0.533333px;
    color: #242A45;
    mix-blend-mode: normal;
    opacity: 0.75;
    padding-bottom: 40px;
    border-bottom: 2px solid transparent;
}
.slider_link:hover {
    color: #FA5959;
}
.slider_link:active {
    border-bottom: 2px solid #FA5959;
    color: black;
    font-weight: 600;
}
.click {
}
.hero_click {
    display: flex;
    flex-direction: row;
}
.click_img {
    position: absolute;
    left: -123px;
}
.click_title {
    font-size: 32px;
}
.click_subtitle {
    width: 445px;
    font-size: 18px;
}
.hero_click_title {
    margin-left: 120px;
}
.extension {
    margin-top: 200px;
    display: flex;
    justify-content: center;
}
.download_cards {
    margin-top: 200px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.download_card {
    width: 280px;
    height: 371px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #FFFFFF;
    box-shadow: 0px 10px 20px -5px rgba(73, 93, 207, 0.20012);
    border-radius: 15px;
}
.card_title {
    margin-top: 32px;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.25px;
    color: #242A45;
}
.card_subtitle {
    font-weight: 400;
    font-size: 15px;
    line-height: 28px;
    color: #242A45;
    opacity: 0.5;
    margin-bottom: 32px;
}
.border {
    width: 270px;
    border: #5267DF dotted 1px;
    margin-bottom: 24px;
}
.margin-top {
    margin-top: 100px;
}
.margin-top2 {
    margin-top: 200px;
}
.center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.questons {
    text-align: center;
    margin-top: 60px;
    width: 540px;
}
.line {
    text-align: center;
    width: 540px;
    height: 1px;
    background-color: #242A45;
    opacity: 0.25;
    margin-top: 13px;
    margin-bottom: 0;
}
.none {
    display: none;
    width: 330px;
}
.answers {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 13px;
}
.answer {
    font-size: 18px;
    line-height: 32px;
    color: #242A45;
}
.chek {
    color: rgba(82, 103, 223, 1);
}
.questons_link {
    margin-top: 70px;
    margin-bottom: 150px;
}
.doing {
    width: 100%;
    height: 360px;
    background-color: #5267DF;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.doing__subtitle {
    padding-top: 56px;
    font-size: 13px;
    line-height: 40px;
    letter-spacing: 5px;
    color: #FFFFFF;
    margin-bottom: 20px;
}
.doing__title {
    width: 408px;
    height: 80px;
    font-size: 32px;
    line-height: 40px;
    text-align: center;
    letter-spacing: -0.1px;
    color: #FFFFFF;
    margin-top: 0;
    margin-bottom: 32px;
}
.email {
    width: 300px;
    height: 48px;
    background: #FFFFFF;
    border-radius: 5px;
    font-size: 14px;
    line-height: 28px;
    letter-spacing: 0.25px;
    color: rgba(36, 42, 69, 0.250109);
    text-align: center;
}
.button {
    width: 126px;
    height: 48px;
    background: #FA5959;
    box-shadow: 0px 8px 8px -4px rgba(73, 93, 207, 0.20012);
    border-radius: 5px;
    font-size: 14px;
    line-height: 28px;
    letter-spacing: 0.25px;
    color: #FFFFFF;
}
.button:active {
    background-color: #FFFFFF;
    color: #FA5959;
}
footer {
    width: 100%;
    height: 88px;
    background: #242A45;
}
.footer_nav {
    padding-top: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer_link {
    color: #FFFFFF;
    font-size: 18px;
}
.footer_navigation {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.left {
    margin-left: 50px;
}
@media only screen and (min-width: 375px) {
    .container {
        width: 330px;
    }
    header {
        width: 330px
    }
    .nav {
        displa;
    }
    button {
        display: block;
        color: black;
        font-size: 40px;
        background-color: #FFFFFF;
        border: none;
        margin-left: 100%;
    }
    .hero_basic {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .basic_page_img1 {
        width: 300px;
        height: 230px;
        position: absolute;
        top: 250px;
        left: 80px;
    }
    .basic_page_img2 {
        width: 330px;
        height: 260px;
    }
    .basic_title {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .basic_pages {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .basic_page_title {
        width: 330px;
        font-size: 35px;
        text-align: center;
    }
    .basic_page_subtitle {
        width: 310px;
        font-size: 18px;
        text-align: center;
    }
    .features {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .slider {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .questons {
        width: 330px;
    }
    .none {
        display: block;
    }
    .download_cards {
        display: flex;
        flex-direction: column;
    }
    .doing {
        width: 375px;
    }
    footer {
        padding: 10px;
        width: 375px;
        height: 300px;
    }
    form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .email {
        margin-bottom: 20px;
    }
    .footer_nav {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .footer_navigation {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .site_nav {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .footer_link {
        margin-top: 20px;
    }
    .click_img {
        position: absolute;
        left: 0;
        top: 250px;
        width: 330px;
        height: 220px;
    }
    .click_img2 {
        width: 330px;
        height: 220px;
    }
    .line {
        width: 330px;
    }
    .basic_page_link_google {
        font-size: 12px;
    }
    .basic_page_link_firefox {
        font-size: 12px;
    }
    .doing__title {
        width: 330px;
        font-size: 25px;
    }
}
